.feed {
  flex: 0.6;
  margin: 0 20px;
}

.feed__inputContainer {
  background: #fff;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feed__input {
  border: 1px solid lightgray;
  border-radius: 30px;
  padding-left: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: gray;
}

.feed__input > form {
  display: flex;
  width: 100%;
}

.feed__input > form > input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 10px;
  font-weight: 600;
}

.feed__input > form > button {
  display: none;
}

.feed__inputOptions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.inputOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 10px;
  cursor: pointer;
}

.inputOption:hover {
  background: whitesmoke;
  border-radius: 10px;
}

.inputOption > h4 {
  margin-left: 10px;
}
